{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form method="POST">
                        {% csrf_token %}
            
                        <fieldset class="form-group">
                            <legend class="bottom-border mb-4">Log In</legend>
                            {{form|crispy}}
                        </fieldset>
            
                        <button class="btn btn-outline-info" type="submit">Login</button>
                    </form>
            
                    <div class="border-top mt-1">
                        <small>
                            Need an Account? <a href="{% url 'register' %}" class="ml-2">Signup</a>
                        </small>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}