{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <form method="POST">
                        {% csrf_token %}
            
                        <fieldset class="form-group">
                            <legend class="bottom-border mb-4">Reset Password</legend>
                            {{form|crispy}}
                        </fieldset>
            
                        <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
                    </form>
        
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}